@media (max-width: 600px) {
  .BadReqContainer {
    align-items: center;
    background-color: rgba(128, 0, 0, 0.2);
    border: 1px solid rgb(128, 0, 0);
    color: black;
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
    padding: 10px;
  }

  .ButtonContainer {
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
    height: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 5px;
    padding: 5px;
    width: 30px;
  }

  .ButtonContainer:hover {
    background-color: gray;
  }

  .DisabledInputContainer {
    background-color: rgb(240, 238, 238);
    border: 1px solid #e8eaed;
    border-radius: 8px;
    cursor: not-allowed;
    font-size: 14px;
    height: 42px;
    margin: 10%;
    text-indent: 3px;
    width: 100%;
  }

  .DisabledSubmitButtonContainer {
    background-color: rgb(240, 238, 238);
    border: 1px solid #dadce0;
    border-radius: 36px;
    box-shadow: 0 1px 6px rgba(60, 64, 67, 0.28);
    color: black;
    cursor: not-allowed;
    font-size: 15px;
    font-weight: bold;
    height: 48px;
    margin-bottom: 20px;
    margin-top: 20px;
    outline: none;
    width: 100%;
  }

  .HeadingContainer {
    margin-left: 10%;
    margin-right: 10%;
    width: 93%;
  }

  .HomePageBodyContainer {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .InputContainer {
    background-color: rgb(245, 245, 245);
    border: 1px solid #e8eaed;
    border-radius: 8px;
    font-size: 14px;
    height: 48px;
    margin: 10px;
    text-indent: 3px;
    width: 100%;
  }

  .InputContainer:focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
    outline: none;
  }

  .InstructionsContainer {
    align-items: center;
    background-color: rgb(240, 238, 238);
    box-shadow: 0 1px 6px rgba(60, 64, 67, 0.28);
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5em;
    margin-left: 25%;
    margin-right: 20%;
    margin-top: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-indent: 4px;
    width: 80%;
  }

  .InnerBodyContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .LinkContainer {
    color: black;
    margin-bottom: 1%;
    margin-left: 1%;
  }

  .MapsContainer {
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .ResponseContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .SubmitButtonContainer {
    background-color: blue;
    border: 1px solid #dadce0;
    border-radius: 36px;
    box-shadow: 0 1px 6px rgba(60, 64, 67, 0.28);
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    height: 48px;
    margin-bottom: 20px;
    margin-top: 20px;
    outline: none;
    width: 100%;
  }

  .SubmitButtonContainer:hover {
    background-color: #4285f4;
  }

  .SubmitButtonContainer:focus {
    background-color: #4285f4;
  }

  .SubmitJobFormContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .SubmittedReqContainer {
    align-items: center;
    background-color: rgba(0, 128, 0, 0.2);
    border: 1px solid rgb(0, 128, 0);
    color: black;
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
    padding: 10px;
  }
}

@media (min-width: 600px) {
  .BadReqContainer {
    align-items: center;
    background-color: rgba(255, 0, 0, 0.2);
    border: 1px solid rgb(255, 0, 0);
    color: black;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .ButtonContainer {
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
    height: 25px;
    margin-top: 5px;
    padding: 5px;
    width: 30px;
  }

  .ButtonContainer:hover {
    background-color: gray;
  }

  .DisabledInputContainer {
    background-color: rgb(240, 238, 238);
    border: 1px solid #e8eaed;
    border-radius: 8px;
    cursor: not-allowed;
    font-size: 14px;
    height: 42px;
    margin: 10px;
    text-indent: 3px;
    width: 350px;
  }

  .DisabledSubmitButtonContainer {
    background-color: darkgray;
    border: 1px solid #dadce0;
    border-radius: 36px;
    box-shadow: 0 1px 6px rgba(60, 64, 67, 0.28);
    color: #fff;
    cursor: not-allowed;
    font-size: 15px;
    font-weight: bold;
    height: 48px;
    margin-bottom: 10px;
    margin-top: 20px;
    outline: none;
    width: 240px;
  }

  .HeadingContainer {
    padding-left: 10px;
    width: 380px;
  }

  .HomePageBodyContainer {
    background-color: white;
    display: flex;
    flex-direction: row;
  }

  .InputContainer {
    background-color: rgb(245, 245, 245);
    border: 1px solid #e8eaed;
    border-radius: 8px;
    font-size: 14px;
    height: 48px;
    margin: 10px;
    text-indent: 3px;
    width: 350px;
  }

  .InputContainer:focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
    outline: none;
  }

  .InstructionsContainer {
    background-color: rgb(240, 238, 238);
    box-shadow: 0 1px 6px rgba(60, 64, 67, 0.28);
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5em;
    margin-left: 20px;
    margin-top: 10px;
    padding-bottom: 3px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 3px;
    width: 350px;
  }

  .LinkContainer {
    color: black;
    margin-left: 35%;
  }

  .MapsContainer {
    height: 100%;
    position: relative;
    width: 100%;
  }

  .ResponseContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .SubmitButtonContainer {
    background-color: blue;
    border: 1px solid #dadce0;
    border-radius: 36px;
    box-shadow: 0 1px 6px rgba(60, 64, 67, 0.28);
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    height: 48px;
    margin-bottom: 10px;
    margin-top: 20px;
    outline: none;
    width: 240px;
  }

  .SubmitButtonContainer:hover {
    background-color: #4285f4;
  }

  .SubmitButtonContainer:focus {
    background-color: #4285f4;
  }

  .SubmitJobFormContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    width: 400px;
  }

  .SubmittedReqContainer {
    align-items: center;
    background-color: rgba(0, 128, 0, 0.2);
    border: 1px solid rgb(0, 128, 0);
    color: black;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
}